snippet cl "console.log"
console.log('${2:$1}', ${1});
endsnippet

snippet cd "console.debug"
console.debug(${0});
endsnippet

snippet ce "console.error"
console.error('${2:$1}', ${1});
endsnippet

snippet cw "console.warn"
console.warn('${2:$1}', ${1});
endsnippet

snippet ci "console.info"
console.info('${2:$1}', ${1});
endsnippet
